.CareerProgressionContainer {
    display: flex;
    flex-direction: column;
}

.CareerProgressionLabel {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.bg-CareerBar {
    background-color: #123445!important;
}

.progress-CareerBar {
    background-color: white;
}

.CareerProgressionContainer > div {
    margin: 8px;
    border-radius: 0;
}