.ProfileContainer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.ProfileContainer > div {
    margin-top: 40px;
}

.CareerSectionLabelContainer {
    color: white;
}