.ProfileContainer {
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.ProfileContainer > div {
    margin-top: 40px;
}

.CareerSectionLabelContainer {
    color: white;
}