.CenterFit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.SectionContainer {
    background-size: cover;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: grid;
    padding: 100px;
    overflow: hidden;
}

.SectionLabelContainer {
    color: #65676b;
    font-size: 50px;
    font-weight: bold;
}

.SectionSubLabelContainer {
    font-size: 25px;
    font-weight: normal;
}