.SideProjectItemList {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    max-height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.SideProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}