.SocialMediaIcon {
	height: 15px;
	margin-right: 10px;
	cursor: pointer;
}

.WelcomeSectionTerminal {
	display: flex;
	justify-content: center;
}

.WelcomeSectionCorner {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 16px;
}

.WelcomeBackground {
	filter: blur(10px);
}

.PersonalSection {
	display: flex;
	justify-content: center;
}

.ProgrammingPieContainer {
	width: 50%;
}