.FeatureContainer {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 6px 1px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}

.FeatureTitleContainer {
    color: black;
}

.FeatureStatusContainer {
    color: green;
    text-align: right;
}